@use '@components/constants.scss' as constants;

.root {
  display: inline-block;
  margin-left: 10px;
}

.timeTablePosition {
  pointer-events: none;
  z-index: constants.$zIndexTimesTable;
}

.timeTable {
  font-size: 14px;
  color: white;
  background: rgba(17, 17, 17, 0.8);
  border-radius: 5px;
  padding: 8px;

  .label {
    border-bottom: 1px solid white;
    margin-bottom: 2px;
    background: #ebebeb;
    border-radius: 3px;
    color: black;
    padding: 0 3px;
  }

  table {
    border-collapse: collapse;
  }

  tbody th,
  tbody td {
    padding: 1px 6px;
  }

  tbody tr {
    border-left: 3px solid;
    border-bottom: 1px solid;
  }

  .pctg-100 {
    border-color: #c200cf;
  }
  .pctg-101 {
    border-color: #2b93ff;
  }
  .pctg-102 {
    border-color: #00cf36;
  }
  .pctg-103 {
    border-color: #ffe27a;
  }
  .pctg-104 {
    border-color: #ffb13b;
  }
  .pctg-105 {
    border-color: #ff3b3b;
  }
  .pctg-106 {
    border-color: #c36832;
  }
  .pctg-107 {
    border-color: #602f12;
  }
  .pctg-108 {
    border-color: #222222;
  }
}
