@use '@components/constants.scss' as constants;

.root {
  display: inline-block;
  cursor: pointer;

  &.trackRecords {
    margin-left: 10px;
  }

  &.profileBests {
    margin-right: 5px;
  }

  &.raceResultClass {
    margin-left: 5px;
  }
}

.timeTablePosition {
  pointer-events: none;
  z-index: constants.$zIndexTimesTable;
}

.timeTable {
  font-size: 14px;
  color: white;
  background: rgba(17, 17, 17, 0.8);
  border-radius: 5px;
  padding: 8px;

  .label {
    border-bottom: 1px solid white;
    margin-bottom: 2px;
    background: #ebebeb;
    border-radius: 3px;
    color: black;
    padding: 0 3px;
  }

  table {
    border-collapse: collapse;
  }

  tbody th,
  tbody td {
    padding: 1px 6px;
  }

  tbody tr {
    border-left: 3px solid;
    border-bottom: 1px solid;
  }
}
