@use '@components/constants.scss' as constants;

.root {
  z-index: constants.$zIndexSnackBar;
  position: fixed;
  top: 180px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
}

.error .snackbar {
  background-color: #ffcece;
}

.snackbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 24px;
  border-radius: 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.closeButton {
  cursor: pointer;
  margin-left: 24px;
}

.closing {
  opacity: 0;
}
